:root {
  --main-color: #121723;
  --second-color: #1d2430;
  --font-color: #ffffff;
  font-size: 16px; /* Set the base font size here */

}
/* ede8e8 */
/* additional color 1976D2*/
nav{
  /* background: rgba(30,58,128,1);  */
  /* #f7f7f7 */
  background: linear-gradient(90deg, rgba(32,55,112,1) 0%, rgba(6,10,42,1) 3%, rgba(6,10,42,1) 97%, rgba(14,33,79,1) 100%);
  width: 100%;
  max-height: "62px";
}

body{
  margin: 0;
  /* background: var(--main-color); */
  background: linear-gradient(180deg, rgba(32,55,112,1) 0%, rgba(6,10,42,1) 32%, rgba(6,10,42,1) 63%, rgba(14,33,79,1) 100%);
  color: var(--font-color);
}

.name{

  color:white;
}

/* .home__container{
  height: 100vh;
} */

  /*background: #1d2430; */

.sphere{
  border: 1px solid #1d2430;
  margin: 0 auto;

  margin-top: 80px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.resume{
  width: 60%;
}

.nav__element{ 
color:#ffffff;
font-size: large;
}

.nav__element:hover{
  color: #1e3a80;
  cursor: pointer;
}

.tag{
  
  color: #6e7480;
}
section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  /* height: 90vh; */
  display: flex;
  /* justify-content: flex-start; */
}

.profile__info{
  color: var(--font-color)
}

.skills__category{
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 991px){
  .skills__category{
    justify-content: center;
  }


}
@media screen and (min-width: 991px){
  nav{
    position: relative;
  }
.logo__container{
  position: absolute;
  left: 3%;
}
.dark__mode{
  position: absolute;
  right: 15%;
}


}

@media screen and (max-width: 1200px) {
.name__message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__info{
  
  font-size: medium;
  width: 300px;
}

}
.about__me{
  
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .resume{
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
.image{
  width:100%;
  min-width:280px;
}
.name{
  text-align: center;
}

.about__me{
  font-size: medium;
  width: 100%;
}
.profile__info{
  font-size: small;
  width: 300px;
}

.buttons{
  justify-content: center;
}
}



.example-container div {
  background: rgb(0, 0, 0);
  border-radius: 30px;
  width: 150px;
  height: 150px;
}




